@import '../../scss/mixins.scss';

#hero {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10vh;

  & .pic img {
    width: 30vw;
    object-fit: contain;
  }

  & .content {

    & p {
      text-align: center;
      font-weight: 600;
      margin: 1vh 0vh;

      &:nth-of-type(2) {
        font-size: 2rem;
        color: var(--heading-color);
      }

      &:last-of-type {
        font-size: 1.5rem;
      }
    }

    & a {
      text-decoration: none;
      color: var(--link-color);
    }

    & .btn-container {
      display: flex;
      gap: 1vh;
      align-items: center;
      justify-content: center;

      & a {
        padding: 1vh;
        font-size: 0.7rem;

        &:first-child {
          border: 2px solid var(--ui-color);
          border-radius: 12% / 50%;

          &:hover {
            background-color: var(--ui-color);
            color: white;
          }
        }

        &:last-child {
          background-color: var(--ui-color);
          border: 2px solid var(--ui-color);
          color: white;
          border-radius: 20% / 50%;

          &:hover {
            background-color: black;
          }
        }
      }
    }

    & .socials {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      gap: 1vh;
      
      & a {
        color: var(--ui-color);
      
        &:hover {
          color: var(--link-color);
        }
      }
    }
  }
}