@import '../../scss/mixins.scss';

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & p {
    margin: 0;
    width: 100%;
    
  
    &.heading {
      font-size: 2.5rem;
      color: var(--heading-color);
      font-weight: bold;
    }
  }

  & .container {
    width: 80%;
    display: flex;
    gap: 5vw;

    & .pic img {
      width: 30vw;
      object-fit: contain;
      border-radius: 5vh;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    & .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5vh;

      & .details-container {
        display: flex;
        align-items: center;
        justify-content: space-around;

        & .detail-box {
          width: 40%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border: 2px solid var(--ui-color-3);
          border-radius: 3vh;
          padding: .7vw;

          &:hover {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          }

          & .head {
            font-weight: bold;
            color: var(--heading-color);
            font-size: 1.2rem;
          }

          & svg {
            color: var(--link-color);
          }
        }
      }

      & .text-box p {
        text-align: justify;
      }
    }
  }

}