@import '../../scss/mixins.scss';

header {
  width: 100%;
  overflow: hidden;

  & nav {
    display: flex;
    align-items: center;
    justify-content: space-around;

    & .nav-links-header
    {
      display: flex;
      gap: 2rem;
      list-style-type: none;
      font-size: 1.5rem;
    
      & a {
        color: var(--link-color);
        text-decoration: none;
        text-decoration-color: grey;
      
        &:hover {
          color: rgb(70, 70, 70);
          text-decoration: underline;
          text-underline-offset: 1rem;
          text-decoration-color: rgb(181, 181, 181);
        }
      }
    }

    & div.logo {
      font-size: 2rem;
      color: var(--link-color);

      &:hover {
        cursor: default;
      }
    }
  }
}