@use './mixins.scss';

/* body::-webkit-scrollbar {
  display: none;
} */

a, .btn {
  transition: all 200ms ease;
}

p {
  color: var(--paragraph-color);
  text-align: center;
}

section {
  height: 100vh;
}

.react-icons {
  vertical-align: middle;
}