@import './mixins.scss';

/* body::-webkit-scrollbar {
  display: none;
} */

a, .btn {
  transition: all 200ms ease;
}

p {
  color: var(--paragraph-color);
  text-align: center;
}

section {
  margin-top: 10vh;
  @include desktop {
    height: 100vh;
  }
}

.react-icons {
  vertical-align: middle;
}

.wrapper {
  @include desktop {
    padding: 0 5vw;
  }
}