@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
    --poppins: "Poppins", sans-serif;
    --text-color: #555555;

    --ui-color: rgb(53, 53, 53);
    --ui-color-2: rgb(85, 85, 85);

    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: var(--poppins);
    margin: 0;
    padding: 0;
}